In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import sklearn as sk

In [ ]:
df=pd.read_csv("data\\athlete_events.csv")

In [3]:
# replaced NaN with None
df['Medal']=df['Medal'].replace(np.nan,'None')

In [4]:
# Filling missing values in 'Height' and 'Weight' Colmuns
df=df.fillna(df['Height'].mean())
(df['Height'].isnull()).sample(10)
df=df.fillna(df['Weight'].mean())
(df['Height'].isnull()).sample(10)
df[['Height', 'Weight']] = df[['Height', 'Weight']].round(2)

In [5]:
#set index as ID
df=df.set_index('ID')

In [6]:
# grouped by age 
group_by_sex=df.groupby('Sex')
group_by_sex.agg({
    'Age':['mean','count','median','max','min']
})

           Age
          mean   count median        max   min
Sex
F    24.595458   74522   23.0  175.33897  11.0
M    33.139448  196594   25.0  175.33897  10.0

In [7]:
# created a col is_medlist
df['is_medlist']=df['Medal']!='None'

In [8]:
top_countries=df[df['is_medlist']].groupby('Team')
top_countries.size().sort_values(ascending=False).head(10)

Team
United States    5219
Soviet Union     2451
Germany          1984
Great Britain    1673
France           1550
Italy            1527
Sweden           1434
Australia        1306
Canada           1243
Hungary          1127
dtype: int64

In [13]:
df=df.drop('Games',axis=1)

In [15]:
df=df.drop('NOC',axis=1)

In [16]:
df

,Name,Sex,Age,Height,Weight,Team,Year,Season,City,Sport,Event,Medal,is_medlist
ID,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.00,80.00,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,False
2,A Lamusi,M,23.0,170.00,60.00,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,False
3,Gunnar Nielsen Aaby,M,24.0,175.34,175.34,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,None,False
4,Edgar Lindenau Aabye,M,34.0,175.34,175.34,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,True
5,Christine Jacoba Aaftink,F,21.0,185.00,82.00,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135569,Andrzej ya,M,29.0,179.00,89.00,Poland-1,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,None,False
135570,Piotr ya,M,27.0,176.00,59.00,Poland,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None,False
135570,Piotr ya,M,27.0,176.00,59.00,Poland,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None,False
135571,Tomasz Ireneusz ya,M,30.0,185.00,96.00,Poland,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,None,False
135571,Tomasz Ireneusz ya,M,34.0,185.00,96.00,Poland,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,None,False